{% extends 'layout.html' %}
{% block body %}
    <style>
        table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
        text-align: center;
        margin-top:6%;
}
    #courts{
        margin-left:47%;
        position:absolute;
        margin-top:-5%;
        font-size:35px;
        color: black;
    </style>
<img src="/static/images/courts.jpg" width="100%" height="300px">
<table style="width:100%">
    <caption id="courts">Courts</caption>
      <tr>
        <th>Promotions</th>
    <td>Enjoy 5% off* with a min. spend of S$1200 on Apple products</td>
      </tr>
    <tr>
        <th>Promotion Period</th>
        <td>01/07/2017 to 31/12/2017</td>
    </tr>
    <tr>
        <th>Terms and Conditions</th>
        <td>1. *Additional 5% off will be payable in Accessories Voucher to be offset on the same purchase invoice.<br>
            2. Applicable at all COURTS outlets.<br>
            3. DBS General Promotion Terms & Conditions apply, visit www.dbs.com.sg/dbscardstnc for details.<br>
        </td>
    </tr>
</table>
<br><br>

{% endblock %}l>
