{% extends 'layout.html' %}
{% block body %}
    <style>
   #managing1 {
    text-align:center;
    color:#48D1CC;
    font-family:Trebuchet MS;
    font-size:80px;}

    #managing2 {text-align:center;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 500;}

    .keeping1 {
        margin-top:45px;
        margin-right:50px;
        text-align:center;
        font-family:Calibri;
        font-size:50px;
        color:#C71585;
    }

    .keeping2 {
        text-align:center;
        margin-right:50px;
        font-size:15px;
    }

    .checking1 {
        margin-top:45px;
        margin-right:50px;
        text-align:center;
        font-family:Calibri;
        font-size:50px;
        color:#C71585;
    }

    .checking2 {
        text-align:center;
        margin-right:50px;
        font-size:15px;
    }

    .paying1 {
            margin-top:45px;
            margin-right:50px;
            text-align:center;
            font-family:Calibri;
            font-size:50px;
            color:#C71585;
        }

   .paying2 {
       text-align:center;
       margin-right:50px;
       font-size:15px;
        }

    .avoiding1 {
        margin-top:45px;
        margin-right:50px;
        text-align:center;
        font-family:Calibri;
        font-size:50px;
        color:#C71585;
    }

    .avoiding2 {
        text-align:center;
        margin-right:50px;
        font-size:15px;
    }

    .limit1 {
        margin-top:45px;
        margin-right:50px;
        text-align:center;
        font-family:Calibri;
        font-size:50px;
        color:#C71585;
    }

    .limit2 {
        text-align:center;
        margin-right:50px;
        font-size:15px;
    }

    </style>
    <h1 id="managing1">How to Manage</h1>
    <p id="managing2">Credit cards can be a handy way to borrow if you use them in the right way <br> but get it wrong and you could find that your debts spiral out of control.<br>Follow these simple tips to manage your card correctly.</p>
    <h1 class="keeping1">Keep your PIN secure</h1>
    <p class="keeping2">Don’t store your PIN with your card, or give it to anyone else <br> Change your PIN to something you’ll remember.</p>
    <h1 class="checking1">Check your bill</h1>
    <p class="checking2">Open your bill, sit down with it, and check through it.<br> Query anything you don’t recognise. <br> Keep credit card receipts so you can match things up.</p>
    <h1 class="paying1">Plan to pay off in full each month</h1>
    <p class="paying2">If you don’t completely clear your balance, you will usually be charged interest on everything on your card <br>(unless it’s during a 0% introductory period) – not just the bit you haven’t repaid.</p>
    <h1 class="avoiding1">Avoid the late payment trap</h1>
    <p class="avoiding2">Pay by Direct Debit. The best way to avoid the late payment trap is have the money go out of your bank account automatically.<br> Ideally, set up a Direct Debit to pay off the full amount every month.</p>
    <h1 class="limit1">Keep within your credit limit</h1>
    <p class="limit2">Don’t go over your limit – if you do you’ll be charged a fee – normally up to SGD$35.<br>

                        Contact the card provider to request an increased credit limit.<br>

                        But only do so if you’re sure you can comfortably afford to repay the higher amount <br>and won’t be tempted to over-spend and rack up more debt.</p>
{% endblock %}
