{% extends 'layout.html' %}
{% block body %}
    <style>
        table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
        text-align: center;
        margin-top:6%;
}
    #samsung{
        margin-left:47%;
        position:absolute;
        margin-top:-5%;
        font-size:35px;
        color: black;
    </style>
<img src="/static/images/samsung.jpg" width="100%" height="300px">
<table style="width:100%">
    <caption id="samsung">Samsung Pay</caption>
      <tr>
        <th>Promotions</th>
    <td>New users get S$10 cashback* with Samsung Pay.<br>
        <br>
        Be among the first 5,000 new customers to add your <br>
        DBS/POSB Card on Samsung Pay and tap 3x to get $10 cashback!</td>
      </tr>
    <tr>
        <th>Promotion Period</th>
        <td>16/06/2017 to 31/12/2017</td>
    </tr>
    <tr>
        <th>Terms and Conditions</th>
        <td>1. *S$10 cashback is subject to a minimum of 3 Samsung Pay transactions<br>
            with an accumulated minimum spend of S$40.Offer is exclusive to new users, till 31 Dec 2016.<br>
            <br>
            2. Note that only DBS/POSB Consumer Visa/MasterCard Credit and Debit Cards are allowed <br>
            for Samsung Pay. Business, Corporate and Purchasing Cards issued by DBS are not enabled.<br>

            3. Availability almost anywhere is based on compatibility of Samsung Pay on NFC and/or MST <br>
            payment readers and terminals, with some supported for use only after software upgrades. <br>
            Visit http://dbs.com.sg/samsungpay<br>
        </td>
    </tr>
</table>
<br><br>

{% endblock %}l>

