{% extends 'layout.html' %}
{% block body %}
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
        text-align: center;
        margin-top:6%;
}
    #insurance{
        margin-left:40%;
        position:absolute;
        margin-top:-5%;
        font-size:35px;
        color: black;

    }
</style>
    <body>
    <img src="/static/images/insurance.jpg" width="100%" height="300px">
    <table style="width:100%">
    <caption id="insurance">Travel Insurance</caption>
      <tr>
        <th>Promotions</th>
          <td>Enjoy 50% premium discount plus a free travel foldable bag worth S$25 when you buy TravellerShield Single Trip Plans!</td>
      </tr>
        <tr>
            <th>Promotion Period</th>
            <td>01/10/2017 to 31/12/2017</td>
        </tr>
    <tr>
        <th>Terms & Conditions</th>
        <td>1. Travel must commence no later than 182 days from date of application. <br>
            <br>
            2. Gift for Single Trip Individual/Group Plan is given provided the minimum <br>
            nett premium is S$60 per Insured Person after 50% premium discount. <br>
            For Single Trip Family Plan, one Gift is given per policy regardless <br>
            of the number of Insured Person(s) provided the minimum nett premium is <br>
            S$60 per policy after the 50% premium discount.<br>
            <br>
            3. For full promotion terms and conditions, please refer to go.dbs.com/sg-traveltnc</td>
    </tr>

    </table>
<br><br>
{% endblock %}l>
